.header-element {
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.75rem;
}

.primary-header {
	margin: 0.5rem auto;
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
}

.secondary-header {
	margin: 0 auto;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
}
