/*Todo'ların tamamlanmış olarak işaretlenmesi sonrasında çıkan animasyon*/
@keyframes strike {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.todo-crossed {
	position: relative;
}
.todo-crossed::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: black;
	animation-name: strike;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
