.todo {
	width: 100%;
	margin: 0 auto;
	list-style: none;

	.todo-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.todo-text,
		.toggleTodo,
		.removeTodo {
			flex-grow: 0;
			width: 50%;
		}

		.todo-text {
			overflow-x: auto;
			font-family: "Roboto", sans-serif;
			font-size: 1rem;
		}

		.right {
			display: flex;
			flex-direction: row;
			width: 30%;
		}
		button {
			border-radius: 2px;
			border: 0;
			:hover {
				cursor: pointer;
			}
		}
	}
}

/*Todo'ların tamamlanmış olarak işaretlenmesi sonrasında çıkan animasyon*/
@keyframes strike {
	0% {
		width: 0;
	}
	100% {
		width: 7rem;
	}
}
.todo-crossed {
	position: relative;
}
.todo-crossed::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: black;
	animation-name: strike;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
