@media (max-width: 575.98px) {
	.grid {
		grid-gap: 0;
		grid-template-rows: 1fr 0.5fr 1fr 4fr 1fr;
	}

	.form-container {
		height: 30%;
		width: 50%;

		.form-input {
		}

		.form-input::placeholder {
			font-size: 0.75rem;
		}

		.form-input:focus::placeholder {
			font-weight: bold;
			font-size: 0.75rem;
		}
	}
	.primary-header {
		font-size: 1.25rem;
		width: 50%;
	}
	.secondary-header {
		font-size: 0.75rem;
		width: 50%;
	}

	#todo-list {
		.todo:not(:last-child) {
			border-bottom: 2px solid $mainGray;
		}

		.todo-text {
			font-size: 0.75rem;
		}
	}
}
