$main-background-color:rgba(0,0,0,0.1);
$content-background-color:#FFF;


$h1-color:rgb(48, 120, 214);
$h2-color:#527c0f;

$check-color:#527c0f;
$add-todo-color:rgb(48, 120, 214);
$clear-color:rgb(220, 45, 45);
$trash-color:rgb(245, 191, 110);
$date-color:black;

$primary-font-family:'Roboto';
$secondary-font-family:'Titillium Web';

